.contactus-section {
    height: auto;
    background-color: #164863;
    color: #DDF2FD;
    padding: 40px;
}

/* .container-fluid .contact-us-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

/* .gambar-kesiji {
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
} */

.section-gambar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-fluid {
    width: 50%;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.text-content {
    width: 45%;
}

.title-section-gambar {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #DDF2FD;
}

.paragaf-section-gambar {
    padding-top: 10px;
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
    color: #DDF2FD;
}
.section-gambar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

@media (min-width: 768px) {
    .section-gambar {
        flex-direction: row;
        justify-content: space-between;
    }
}

.img-fluid {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .img-fluid {
        width: 50%;
    }
}

.text-content {
    width: 100%;
}

@media (min-width: 768px) {
    .text-content {
        width: 45%;
    }
}


.title-about-us {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #164863;
    text-shadow: 2px 2px 4px #aaa;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    
    /* text-shadow: 2px 2px 4px #000000;
    letter-spacing: 2px;
    line-height: 1.2;
    font-family: Arial, sans-serif;
    transition: all 0.5s ease;
    animation-name: colorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite; */
}

@media screen and (max-width: 600px) {
    .title-about-us {
        font-size: 45px;
    }
}

.title-about-us:hover {
    color: #9BBEC8;
    text-shadow: none;
}

@keyframes colorChange {
    0%   {color: #9EB4C7;}
    50%  {color: #9BBEC8;}
    100% {color: #9EB4C7;}
}


/* .section-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
} */

/* .bi.bi-custom {
    font-size: 50px;
    color: #333;
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    animation: float 2s ease-in-out infinite;
    cursor: pointer;
}
.bi.bi-custom:hover {
    color: #666;
    transform: scale(1.2) rotate(360deg);
    opacity: 0.8;
}

.bi-custom.bi-facebook {
    color: #3b5998;
}

.bi-custom.bi-facebook:hover {
    color: #8b9dc3;
}

.bi-custom.bi-twitter {
    color: #55acee;
}

.bi-custom.bi-twitter:hover {
    color: #83c4f2;
}

.bi-custom.bi-instagram {
    color: #e4405f;
}

.bi-custom.bi-instagram:hover {
    color: #f78fa7;
}

.bi-custom.bi-linkedin {
    color: #0077b5;
}

.bi-custom.bi-linkedin:hover {
    color: #8cc7e0;
}

.bi-custom.bi-youtube {
    color: #cd201f;
}

.bi-custom.bi-youtube:hover {
    color: #e27575;
} */

.details-about {
    padding-top: 10px;
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
    color: #666;
}


.pertama, .keloro {
    padding: 10px;
}
.keloro {
    margin-top: auto;
    margin-bottom: auto;
}
/* .social-media {
    height: auto;
    background-color: #164863;
    padding: 20px;
} */
/* .section-social-media {
    width: 90%;
    height: 100px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
} */
.gambar-contact {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}
