.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (max-width: 767px) {
  .layout_padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .layout_padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.img-responsive {
  max-width: 100%;
  height: auto;
}

.detail_section h2 {
  color: #164863;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.detail_section p {
  color: #666;
  font-size: 1.1em;
  line-height: 1.6;
}
.detail_section p:hover {
  font-weight: bold;
  color: #427D9D;
  transition: all 0.3s;
}
.detail_section .btn {
  background-color: #164863;
  color: #DDF2FD;
  padding: 8px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 20px;
}
.detail_section .btn:hover {
  background-color: #9BBEC8;
}
.detail_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail_section img {
  max-width: 100%;
  height: auto;
}
.detail_section img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

@media (max-width: 767px) {
  .detail_section h2 {
    font-size: 2em;
  }
}




.review_section h2 {
  font-size: 2em;
  color: #164863;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.review_section p {
  color: #666;
  font-size: 1.1em;
  line-height: 1.6;
}

.review_section img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  transition: transform 0.3s;
}

.review_section img:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .review_section h2 {
    font-size: 1.5em;
  }
}
.review_section img {
  border: 2px solid #ddd;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.4s, border 0.4s;
}

.review_section img:hover {
  border-color: #9BBEC8;
}


.header-destination {
  text-align: center;
  color: #427D9D;
  font-size: 2em;
  font-weight: bold;
}

.destination_section h2 {
  color: #427D9D;
}

.destination_section .box {
  background-color: #ffffff;
  padding: 25px 15px;
  text-align: center;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin-top: 45px;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
}

.destination_section .box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.destination_section .box .img-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.destination_section .box .detail-box {
  margin-top: 25px;
}

.destination_section .box .detail-box h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.destination_section .box .detail-box a {
  text-decoration: none;
}

.destination_section .box .detail-box a h2:hover {
color: #164863;
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (max-width: 991.98px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .col-md-6,
  .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.destination_section .box .img-box img {
  transition: transform 0.3s;
}

.destination_section .box .img-box img:hover {
  transform: scale(1.1);
}

.destination_section .box .detail-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 0 0 8px 8px;
}
